av3a_binaural_render/AudioDecoder/av3a_binaural_render/build/linux/Release/
av3a_binaural_render/bin/
av3adecoder/**/*.o
av3adecoder/bin/
av3adecoder/avs3Decoder/build/aarch64/dependencies
ffmpeg/ffmpeg-6.1/config.h
ffmpeg/ffmpeg-6.1/config_components.h
ffmpeg/ffmpeg-6.1/libavcodec/bsf_list.c
ffmpeg/ffmpeg-6.1/libavcodec/codec_list.c
ffmpeg/ffmpeg-6.1/libavcodec/parser_list.c
ffmpeg/ffmpeg-6.1/libavdevice/indev_list.c
ffmpeg/ffmpeg-6.1/libavdevice/outdev_list.c
ffmpeg/ffmpeg-6.1/libavfilter/filter_list.c
ffmpeg/ffmpeg-6.1/libavformat/demuxer_list.c
ffmpeg/ffmpeg-6.1/libavformat/muxer_list.c
ffmpeg/ffmpeg-6.1/libavformat/protocol_list.c
ffmpeg/ffmpeg-6.1/libavutil/avconfig.h
ffmpeg/ffmpeg-6.1/libpostproc/libpostproc.a
ffmpeg/ffmpeg-6.1/libpostproc/libpostproc.pc
